/*======================================================================
    SCREEN SIZE
======================================================================*/
screen(minWidth, maxWidth)
    @media screen and (min-width: minWidth) and (max-width: maxWidth)
        {block}

max-screen(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}

min-screen(minWidth)
    @media screen and (min-width: minWidth)
        {block}

screen-height(minHeight, maxHeight)
    @media screen and (min-height: minHeight) and (max-height: maxHeight)
        {block}

max-screen-height(maxHeight)
    @media screen and (max-height: maxHeight)
        {block}

min-screen-height(minHeight)
    @media screen and (min-height: minHeight)
        {block}

/*======================================================================
    PIXEL DENSITY
======================================================================*/
hdpi(density = 1.3)
    media = " all"
    query = media + " and (-webkit-min-device-pixel-ratio: " + density + "), "
    query += media + " and (min--moz-device-pixel-ratio: " + density + "), "
    query += media + " and (-o-min-device-pixel-ratio: " + density + "/1), "
    query += media + " and (min-device-pixel-ratio: " + density + "), "
    query += media + " and (min-resolution: " + ceil( density * 96 ) + "dpi), "
    query += media + " and (min-resolution: " + density + "dppx)"
    @media query
        {block}
